.commentary {
  /*display: none;*/
  background-color: #FFFFAA;
}

.commentary-menu {
  font-style: italic;
}

.done {
  background-color: #CCCCCC;
}

.ignore-caption {
  display: none;
}

.compact {
  margin: 0pt;
  border: 0pt;
}

.rttd {
  text-align: right;
}