<div class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-id">
				<span class="sr-only">Toggle navigation</span>
		  		<span class="icon-bar"></span>
		  		<span class="icon-bar"></span>
		  		<span class="icon-bar"></span>
		  	</button>
			<a class="navbar-brand" href="index.html">CMPT 474</a>
		</div>
		<div class="collapse navbar-collapse" id="collapse-id">
			<ul class="nav navbar-nav">
				<li {{ page.sched-activation }}><a href="schedule.html">Schedule</a></li>
				<li {{ page.outcome-activation }}><a href="outcomes.html">Learning outcomes</a></li>
				<li {{ page.challenges-activation }}><a href="challenges.html">Challenges</a></li>
				<li {{ page.design-activation }}><a href="design.html">Design principles</a></li>
				<li {{ page.readings-activation }}><a href="readings.html">Readings</a></li>
				{% comment %}
				<li {{ page.assignments-activation }}><a href="assignments.html">Assignments</a></li>
				<li {{ page.coding-activation }}><a href="coding.html">Coding standards</a></li>
				{% endcomment %}
				<li {{ page.aws-activation }}><a href="aws.html">AWS details</a></li>
				<li {{ page.outstanding-activation }}><a href="outstanding.html"><span class="commentary"> Outstanding issues</span></a></li>
			</ul>
		</div>
	</div>
</div>
